<header>
    <nav class="flex justify-between bg-surface-primary h-header-height container p-container-padding">

        <div class="font-bold">Awesome Logo</div>

        <ul class=" space-x-5 hidden tablet:flex">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/blog">Blog</a></li>
        </ul>

        <div class="flex text-sm tablet:hidden ">Menu Icon</div>
    </nav>
</header>